<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Company Des</th>
        <th scope="col">Company StartYear</th>
        <th scope="col">Company Gst</th>
        <th scope="col">State</th>
        <th scope="col">Country</th>
        <th scope="col">Details</th>

      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let d of tData;index as i">
            <td >{{d.CompanyName}}</td>
            <td>{{d.CompanyDes}}</td>
            <td>{{d.CompanyStartYear}}</td>
            <td>{{d.CompanyGst}}</td>
            <td>{{d.State}}</td>
            <td>{{d.Country}}</td>
            <td><button (click)="passData(i)" class="btn btn-primary">click to passdata</button></td>
        </tr>
    </tbody>
  </table>
<app-customer-details [rowData]="tableRowData"></app-customer-details>  
  


