<!-- <p>login works!</p> -->
<div class="container m-auto">
    <h4 >LoginForm</h4>
    <form [formGroup]="loginForm" (ngSubmit)="validate()">
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" name="email" formControlName="email" aria-describedby="emailHelp">
        <span style="color: red;" *ngIf="email?.invalid && email?.touched">! Enter a valid email</span>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="pass" formControlName="pass" id="password1">
          <span style="color: red;" *ngIf="pass?.invalid && pass?.touched">! Enter a valid Password</span>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
